<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><img src="/assets/images/tiga.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quotes" routerLinkActive="active">Quote Lookup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/builder" routerLinkActive="active">Quote Builder</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/account" routerLinkActive="active">Account</a>
        </li>
        <li class="nav-item">
          <p *ngIf="(builder$ | async) as builder">{{builder.features.length}}</p>
        </li>
      </ul>
      <ng-container *ngIf="(currentUser$ | async) === null">
        <a class="btn btn-primary btn-sm text-white mx-1" type="submit" routerLink="/account/login">Login</a>
        <a class="btn btn-primary btn-sm text-white mx-1" type="submit" routerLink="/account/register">Sign Up</a>
      </ng-container>
      <ng-container *ngIf="(currentUser$ | async) !== null">
        <div class="btn-group" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-animated">
                  {{(currentUser$ | async).email}} <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-animated">
            <li role="menuitem" (click)="logout()"><a class="dropdown-item">Logout</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
            </li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else
              here</a></li>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>
</nav>